footer {
    h6 {
        text-align: center;
        padding-top: 60px;
        font-family: 'Big Shoulders Stencil Display', cursive;
        font-size: 50px;
    }

    .eventos {
        font-family: 'Gotu', sans-serif;
        font-size: 20px;
        color: rgb(206, 111, 44);
    }

    p {
        text-align: center;
    }

    .redes p {
        text-align: center;


    }
}