/*Google fonts*/
/*letra menu*/
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
/*letra logo*/
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
/*letra titulo de la primera seccion*/
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');

/*letra menues quinta seccion*/
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
/*Letra quinta seccion - menues*/
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
/*letra quinta seccion listado-menues parrafo*/
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200&display=swap');
/*letra footer logo*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&display=swap');

/*Partials*/

@import "header";
@import "footer";
@import "primera-seccion";

/*variables "listado-menu"*/
$letramenues: 'Croissant One', cursive;
$parrafomenues: 'K2D', sans-serif;

/*map get*/
/*P de la segunda seccion*/
$p-sec-dos: (
    color:black,
    centro:center,
    tfuente:25px,
    mtop:30px,
);
/*P de la cuarta seccion*/
$p-sec-4: (
    ilineado:2.5,
    centro:center,
    tfuente:18px
);


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*seccion dos de la pagina*/

.segunda-seccion {
    p {
        font-family: $parrafomenues;
        text-align: map-get($p-sec-dos, centro);
        font-size: map-get($p-sec-dos, tfuente);
        margin-top: map-get($p-sec-dos, mtop);
    }
}

/*tercer seccion de la pagina*/

.tercer-seccion {
    img {
        width: 100%;
        background-size: cover;
        height: 600px;
        background: fixed;
    }
}

/*cuarta seccion - foto y texto*/
.cuarta-seccion {
    h3 {
        font-family: 'Amita', cursive;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 35px;
    }

    p {
        line-height: map-get($p-sec-4, ilineado);
        text-align: map-get($p-sec-4 , centro);
        font-family: $parrafomenues;
        font-size: map-get($p-sec-4 , tfuente);
    }
}

/*quinta seccion*/
.menues {
    width: 100%;
    height: 100px;
    background-color: rgb(20, 20, 20);

    p {
        color: white;
        text-align: center;
        padding-top: 30px;
        font-family: 'Croissant One', cursive;
        font-size: 25px;
    }
}

.listado-menu {
    background-color: rgb(230, 230, 230);

    h6 {
        margin-left: 20px;
        margin-top: 20px;
        font-family: $letramenues;
        font-weight: bold;
    }

    p {
        margin-left: 20px;
        font-family: $parrafomenues;
        margin-top: 30px;
    }



    .cuadro-1 {
        width: 50%;
        height: 100%;
        background-color: white;
        margin-top: 30px;


        li {


            list-style: none;
            font-family: $parrafomenues;
            line-height: 2;
        }
    }

    .cuadro-2 {
        @extend.cuadro-1;
    }
}